body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	color: #fff;
	font-family: 'Karla', sans-serif;
	background-image: url("/img/ackerstrasse_w2000.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #5a6268;
}
.container {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
h1 {
	background-color: transparent;
	color: #fd7e14;
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 768px) {
	body {
		background: none;
		background-color: #5a6268;
	}
	.votes {
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
	}

	#videoContainer {
		width: 100%;
		background-color: transparent;
	}
	#videoContainer #videoWrapper,
	#videoContainer #videoWrapper video {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	h1, h3 {
		margin-top: 3.0rem;
		margin-left: 0;
		width: 100%;
		text-align: right;
	}
	#outer {
		position: absolute;
		height: 100vh;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(50, 50, 50, 0.6);
		z-index: 1;
		width: 600px;
	}
	#videoContainer {
		position: absolute;
		height: 100vh;
		right: 2.0rem;
		bottom: 0;
		padding: 0.5rem 2.0rem 1.0rem 3.0rem ;
		z-index: 2;
	}
	#videoWrapper {
		position: absolute;
		margin-top: 0.5rem;
		right: 2.0rem;
		bottom: 2.0rem;
		z-index: 2;
	}
}
@media only screen and (min-width: 992px) {
	h1 {
		margin-left: 0;
		margin-top: 3.0rem;
		font-size: 3.0rem;
	}
	h3 {
		margin-left: 2.0rem;
		margin-top: 0;
		padding: 0.5rem 1.0rem;
		font-size: 2.0rem;
	}
	#outer {
		position: absolute;
		height: 100vh;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(50, 50, 50, 0.6);
		width: 1060px;
		-webkit-clip-path: polygon(550px 0, 100% 0, 100% 100%, 300px 100%);
		clip-path: polygon(550px 0, 100% 0, 100% 100%, 300px 100%);
		z-index: 1;
	}
	#videoContainer {
		position: absolute;
		height: 100vh;
		right: 2.0rem;
		bottom: 0;
		padding: 0.5rem 2.0rem 1.0rem 3.0rem ;
		z-index: 2;
	}
	#videoWrapper {
		position: absolute;
		right: 2.0rem;
		bottom: 2.0rem;
		z-index: 2;
	}
}
.votes {
	margin-top: 2.0rem;
}
.votes div {
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 0.7rem;
	margin: 0;
	float: left;
	clear: none;
}
.votes div#up {
	background-image: url(/img/vote-up-bg-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	color: #1e7e34;
	text-align: center;
}
.votes div#up span {
	position: relative;
	top: 24px
}
.votes div#down {
	background-image: url(/img/vote-down-bg-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	color: #c00;
	text-align: center;
}
.votes div#views {
	position: relative;
	right: 0;
	width: auto;
	font-size: 1.2rem;
	margin-left: 1.0rem;
	color: #fff;
	white-space: nowrap;
	font-weight: normal;
	line-height: 45px;
}
.votes div#down span {
	position: relative;
	top: 10px;
}
.votes div#views span {
	position: relative;
	font-size: 1.2rem;
	color: #fff;
}
