body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	color: #fff;
	font-family: 'Karla', sans-serif;
	background-image: url("/img/ackerstrasse_w2000.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #5a6268;
}
h1 {
	background-color: transparent;
	color: #fd7e14;
	margin: 0;
	padding: 0;
}
h1 span {
	font-size: 3.0rem;
}
@media only screen and (max-width: 768px) {
	body {
		background: none;
		background-color: #5a6268;
	}
	h1,h1 span {
		font-size: 2.0rem;
	}
	#video {
		width: 100%;
		background-color: transparent;
	}
	#video #videoWrapper,
	#video #videoWrapper video {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	h1 {
		margin-top: 4.0rem;
		padding: 0.5rem 1.0rem;
		font-size: 3.0rem;
	}
	#videoWrapper {
		margin-top: 0.5rem;
	}
	#video {
		position: absolute;
		right: 6.0rem;
		bottom: 1.0rem;
		padding: 0.5rem 2.0rem 1.0rem 2.0rem ;
		background-color: rgba(50, 50, 50, 0.5);
		_background-color: rgba(253, 126, 20, 0.5);
		border-radius: 1.0rem;
		box-shadow: #000 0px 10px 20px -10px;
	}
}
@media only screen and (min-width: 992px) {
	h1 {
		margin-left: -6.0rem;
		margin-top: 4.0rem;
		padding: 0.5rem 1.0rem;
		font-size: 3.0rem;
	}
}

.votes div {
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 0.7rem;
	margin: 0;
	float: left;
	clear: none;
}
.votes div#up {
	background-image: url(/img/vote-up-bg-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	color: #1e7e34;
	text-align: center;
}
.votes div#up span {
	position: relative;
	top: 24px
}
.votes div#down {
	background-image: url(/img/vote-down-bg-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	color: #c00;
	text-align: center;
}
.votes div#views {
	position: relative;
	right: 0;
	width: auto;
	font-size: 1.2rem;
	margin-left: 1.0rem;
	color: #fff;
	white-space: nowrap;
	font-weight: normal;
	line-height: 45px;
}
.votes div#down span {
	position: relative;
	top: 10px;
}
.votes div#views span {
	position: relative;
	font-size: 1.2rem;
	color: #fff;
}
